<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui"/>

    <title>Welcome to Benchmates</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}"/>
</head>

<body class="container">
<layout-nav></layout-nav>
<div class="container-fluid">
    <div class="container xd-container">
        <div ui-view=""></div>
    </div>
</div>
<layout-footer></layout-footer>
</body>

</html>
